@using MajorTest.Models

@model Courier

@{
    ViewBag.Title = "Добавление курьера";
}

<form class="centered" id="subPageMargin" asp-action ="Create" asp-controller="Couriers">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Имя курьера:</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SecondName" class="control-label">Отчество курьера:</label>
        <input type="text" asp-for="SecondName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Фамилия курьера:</label>
        <input type="text" asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">Контактный номер курьера:</label>
        <input type="tel" asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
    </div>
</form>