<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header id="header">
        <a href="/Orders/Index">Заявки</a>
        <span> | </span>
        <a href="/Couriers/Index">Курьеры</a>
    </header>
    <h2>@ViewBag.Title</h2>
    <div>
        @RenderBody()
    </div>
    <footer>
        2023.
    </footer>
</body>
</html>
